* {box-sizing: border-box;}

html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
 }

.header-container {
	color: #2789e5;
	margin: 0 auto;
	text-align: justify;
	height: 10%;
	width: 85%;
	padding-top: 25px;
  font-size: 12px;
}

.body-container {
	margin: auto;
	text-align: left;
	height: 60%;
	width: 85%;
	font-family: serif;
  font-size: 16px;
  line-height: 25px;
  overflow-x:hidden;
  overflow-y:auto;
  position: absolute;
  left: 0;
  right: 0;
}

.footer-container {
  margin: 0 auto;
  margin-bottom: 30px;
  text-align: right;
  width: 85%;
  height: 10%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.body-title {
	font-family: 'Reenie Beanie', Courier, cursive;
}

.body-content {
	font-family: "Courier New", Courier, monospace;
}

.body-end {
	font-family: 'Reenie Beanie', Courier, cursive;
	
}

ul li {
 list-style-type: none;
 float: left;
}
a {
	color: #70a2d1;
}

ul li a i:hover {
 opacity: .8;
}

li {
	margin: 0 0 0 15px;
}

.btn {
  background: #2789e5;
  background-image: -webkit-linear-gradient(top, #2789e5, #2789e5);
  background-image: -moz-linear-gradient(top, #2789e5, #2789e5);
  background-image: -ms-linear-gradient(top, #2789e5, #2789e5);
  background-image: -o-linear-gradient(top, #2789e5, #2789e5);
  background-image: linear-gradient(to bottom, #2789e5, #2789e5);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Reenie Beanie;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  border: solid #8cb4da 2px;
  text-decoration: none;
  position: absolute;
  left: 4px;
}

.btn:hover {
  background: #8cb4da;
  background-image: -webkit-linear-gradient(top, #8cb4da, #2789e5);
  background-image: -moz-linear-gradient(top, #8cb4da, #2789e5);
  background-image: -ms-linear-gradient(top, #8cb4da, #2789e5);
  background-image: -o-linear-gradient(top, #8cb4da, #2789e5);
  background-image: linear-gradient(to bottom, #8cb4da, #2789e5);
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 300px) {
  .body-container {
    font-size: 12px;
  }
}