.header-container {
	color: #2789e5;
	margin: 0 auto;
	text-align: justify;
	height: 50%;
	width: 60%;
	padding: 30px;
}

.body-container {
	margin: auto;
	text-align: left;
	height: 50%;
	width: 60%;
	font-family: serif;
}

.body-title {
	font-family: 'Reenie Beanie', cursive;
}

.body-content {
	font-family: "Courier New", Courier, monospace;
}

.body-end {
	font-family: 'Reenie Beanie', cursive;
	
}

ul li {
 list-style-type: none;
 float: left;
}
a {
	color: #70a2d1;
}

ul li a i:hover {
 opacity: .8;
}

li {
	margin: 0 0 0 15px;
}
.footer-container {
	margin: 0 auto;
	text-align: center;
	width: 40%;
	height: 40%;
	padding: 20px;
}
