.header-container {
	color: #2789e5;
	margin: 0 auto;
	text-align: justify;
	height: 50%;
	width: 60%;
	padding: 30px;
}

.body-container {
	margin: auto;
	text-align: left;
	height: 50%;
	width: 60%;
	font-family: serif;
}

.body-title {
	font-family: 'Reenie Beanie', cursive;
}

.body-content {
	font-family: "Courier New", Courier, monospace;
}

.body-end {
	font-family: 'Reenie Beanie', cursive;
	
}

ul li {
 list-style-type: none;
 float: left;
}
a {
	color: #70a2d1;
}

ul li a i:hover {
 opacity: .8;
}

li {
	margin: 0 0 0 15px;
}
.footer-container {
	margin: 0 auto;
	text-align: center;
	width: 40%;
	height: 40%;
	padding: 20px;
}

.btn {
  background: #2789e5;
  background-image: -webkit-linear-gradient(top, #2789e5, #2789e5);
  background-image: -moz-linear-gradient(top, #2789e5, #2789e5);
  background-image: -ms-linear-gradient(top, #2789e5, #2789e5);
  background-image: -o-linear-gradient(top, #2789e5, #2789e5);
  background-image: linear-gradient(to bottom, #2789e5, #2789e5);
  -webkit-border-radius: 25;
  -moz-border-radius: 25;
  border-radius: 25px;
  font-family: Reenie Beanie;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 10px 10px 10px;
  border: solid #8cb4da 2px;
  text-decoration: none;
}

.btn:hover {
  background: #8cb4da;
  background-image: -webkit-linear-gradient(top, #8cb4da, #2789e5);
  background-image: -moz-linear-gradient(top, #8cb4da, #2789e5);
  background-image: -ms-linear-gradient(top, #8cb4da, #2789e5);
  background-image: -o-linear-gradient(top, #8cb4da, #2789e5);
  background-image: linear-gradient(to bottom, #8cb4da, #2789e5);
  text-decoration: none;
  cursor: pointer;
}
